@import "../../../definitions/variables";

.percentaje-bar {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  border: 0;

  &__positive {
    background-color: rgba($green-positive, 0.8);

    justify-content: flex-start;
  }

  &__negative {
    background-color: rgba($yellow-negative, 0.8);
    justify-content: flex-end;
  }

  &__mix {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__number {
    color: $white;
    font-size: map-get($font-sizes, "normal");
  }
}
