@import "../../../definitions/variables";

.ruling-grid {
  width: 32%;
  height: 30vw;
  margin-bottom: 3rem;
}
.grid-container {
  display: flex;
  padding: 0;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  &-opacity {
    background-color: $dark-background;
    margin-bottom: 0;
  }

  .grid-content {
    width: 100%;

    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-thumb-icon {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &--svg-icon {
          width: 100%;
        }
      }

      &-title {
        color: white;
        font-weight: 800;
        padding-left: 0.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &-description {
        color: white;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        overflow: hidden;
        font-size: map-get($font-sizes, "min");
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.ruling-list-item {
  width: 100%;
  height: 14rem;
  margin-bottom: 0.5rem;
}
.list-container {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;

  &-opacity {
    background: linear-gradient(
      90deg,
      rgba(110, 110, 110, 1) 0%,
      rgba(110, 110, 110, 1.2) 40%,
      rgba(110, 110, 110, 0.4) 100%
    );
    margin-bottom: 0;
  }

  .list-content {
    width: 100%;
    display: flex;
    flex: 1;
    height: 12rem;

    flex-direction: column;
    justify-content: space-between;

    &__top {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      &-background {
        width: 12rem;
        height: 10rem;
        position: relative;

        &-opacity {
          width: 100%;
        height: 10rem;
        background: linear-gradient(
          90deg,
          rgba(110, 110, 110, 0) 40%,
          rgba(110, 110, 110, 0.2) 60%,
          rgba(110, 110, 110, 1) 100%,
        );
        }
      }

      &-thumb-icon {
        position: absolute;
        width: 3rem;
        height: 3rem;
        display: flex;
        top: 0;
        justify-content: center;
        align-items: center;

        &--svg-icon {
          width: 100%;
        }
      }

      &-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        height: 8rem;
      }

      &-title {
        color: white;
        font-weight: 800;
        padding-left: 0.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &-description {
        color: white;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        overflow: hidden;
        font-size: map-get($font-sizes, "min");
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}

@media all and (min-width: 320px) {
  .ruling-grid {
    width: 88%;
    height: 88vw;
    margin-right: 1rem;
  }
  .grid-container {
    .grid-content {
      &__top {
        &-thumb-icon {
          &--svg-icon {
            width: 70%;
          }
        }

        &-title {
          font-size: map-get($font-sizes, "subtitle");
        }

        &-description {
          font-size: map-get($font-sizes, "normal");
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .ruling-grid {
    width: 48%;
    height: 50vw;
    margin-right: 0rem;
  }
  .grid-container {
    .grid-content {
      &__top {
        &-thumb-icon {
          &--svg-icon {
            width: 90%;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1100px) {
  .ruling-grid {
    width: 32%;
    height: 30vw;
  }
  .grid-container {
    .grid-content {
      &__top {
        &-thumb-icon {
          &--svg-icon {
            width: 100%;
          }
        }
      }
    }
  }
}
