@import "../../../definitions/variables";

.grid-container {
  display: flex;
  padding: 0;
  align-items: flex-end;
  width: 25vw;
  height: 28vw;
  margin-bottom: 3rem;

  &-opacity {
    background-color: $dark-background;
    margin-bottom: 0;
  }

  .grid-content {
    width: 100%;
    

    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-thumb-icon {
        height: 3vw;
        width: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-title {
        color: white;
        font-weight: 800;
        padding-left: 0.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &-description {
        color: white;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        overflow: hidden;
        font-size: map-get($font-sizes, "min");
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &-date {
        color: white;
        text-align: end;
        overflow: hidden;
        font-size: map-get($font-sizes, "supermin");
        padding-right: 1rem;
        font-weight: bold;
      }
    }
  }
}
