@import "../../../definitions/variables";

.vote-for {
  &__message {
    color: white;
    text-align: end;
    overflow: hidden;
    font-size: map-get($font-sizes, "min");
    padding-right: 1rem;
    font-weight: bold;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 1rem;
  }
}